DJANGO_SECRET_KEY=troque-por-uma-chave-secreta-forte
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Banco oficial do projeto
DJANGO_USE_SQLITE=False
POSTGRES_DB=sgs_asp
POSTGRES_USER=sgs_asp
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
